# Data Cleaning and Preparing for Further Analysis

#### Importing pandas library to analyze data.

In [1]:
import pandas as pd

## Reading the file.
This excel file contains many sheets, so we will have to concatenate them together.
- First we read the file with the following code.
- Then we create a list as a place holder to store the sheets as Pandas DataFrames.
- Then we iterate through the sheets in that excel file and store them in that place holder list.
- After iterations are completed we concatenate all the dataframes in to a single dataframe.

In [2]:
f = pd.ExcelFile("AMSNYC.xlsx")

In [3]:
list_of_dfs = []
for sheet in f.sheet_names:
    df = f.parse(sheet)
    list_of_dfs.append(df)
data = pd.concat(list_of_dfs,ignore_index= True)

## First Glance
Let's have a look at our data and try to understand what we are working with.

In [4]:
data.head()

,Price filter_alt,Airline filter_alt,Depart filter_alt,Arrive filter_alt,Duration filter_alt,From/To filter_alt,Stops filter_alt,Advisory filter_alt,start_date,end_date
0,€481,Scandinavian Airlines,9:20 PM5:50 PM,1:35 PM(02-02)10:30 AM(02-09),22h 15m 10h 40m,AMS to EWR EWR to AMS,ARN ARN,NaN,02/01/2024,02/08/2024
1,€490,Scandinavian Airlines,7:00 AM5:50 PM,3:15 PM10:30 AM(02-09),14h 15m 10h 40m,AMS to EWR EWR to AMS,CPH ARN,NaN,02/01/2024,02/08/2024
2,€490,Scandinavian Airlines,10:25 AM5:50 PM,3:15 PM10:30 AM(02-09),10h 50m 10h 40m,AMS to EWR EWR to AMS,CPH ARN,NaN,02/01/2024,02/08/2024
3,€490,Scandinavian Airlines,2:55 PM5:50 PM,9:30 PM10:30 AM(02-09),12h 35m 10h 40m,AMS to JFK EWR to AMS,CPH ARN,NaN,02/01/2024,02/08/2024
4,€490,Scandinavian Airlines,9:20 PM5:35 PM,1:35 PM(02-02)9:45 AM(02-09),22h 15m 10h 10m,AMS to EWR EWR to AMS,ARN CPH,NaN,02/01/2024,02/08/2024

Dataframe above looks like kind of a mess, prices column have currency symbols, almost all the columns have both outbound and inbound flight info in a single "cell".
But before starting to clean the data lets have a look at the datatypes and see if we can eliminate any columns right away.

In [5]:
data.dtypes

Price filter_alt        object
Airline filter_alt      object
Depart filter_alt       object
Arrive filter_alt       object
Duration filter_alt     object
From/To filter_alt      object
Stops filter_alt        object
Advisory filter_alt    float64
start_date              object
end_date                object
dtype: object

Advisory filter_alt column seems to be the only column that has numerical values for now. But lets see what kind of data it contains.

In [6]:
data["Advisory filter_alt"].unique()

array([nan])

It looks like Advisory filter_alt column does not contain any value, so we can drop it.

In [7]:
data.drop("Advisory filter_alt",axis=1,inplace=True)

Let's have another look to our dataframe after dropping the column.

In [8]:
data.head()

,Price filter_alt,Airline filter_alt,Depart filter_alt,Arrive filter_alt,Duration filter_alt,From/To filter_alt,Stops filter_alt,start_date,end_date
0,€481,Scandinavian Airlines,9:20 PM5:50 PM,1:35 PM(02-02)10:30 AM(02-09),22h 15m 10h 40m,AMS to EWR EWR to AMS,ARN ARN,02/01/2024,02/08/2024
1,€490,Scandinavian Airlines,7:00 AM5:50 PM,3:15 PM10:30 AM(02-09),14h 15m 10h 40m,AMS to EWR EWR to AMS,CPH ARN,02/01/2024,02/08/2024
2,€490,Scandinavian Airlines,10:25 AM5:50 PM,3:15 PM10:30 AM(02-09),10h 50m 10h 40m,AMS to EWR EWR to AMS,CPH ARN,02/01/2024,02/08/2024
3,€490,Scandinavian Airlines,2:55 PM5:50 PM,9:30 PM10:30 AM(02-09),12h 35m 10h 40m,AMS to JFK EWR to AMS,CPH ARN,02/01/2024,02/08/2024
4,€490,Scandinavian Airlines,9:20 PM5:35 PM,1:35 PM(02-02)9:45 AM(02-09),22h 15m 10h 10m,AMS to EWR EWR to AMS,ARN CPH,02/01/2024,02/08/2024

It looks better, but column names are hard to understand. Let's give them more readable names. And see how that looks.

In [9]:
new_column_names = ["price","carrier","depart_time","arrive_time","duration","from_to","stops","start_date","end_date"]
data.columns = new_column_names
data.head()

,price,carrier,depart_time,arrive_time,duration,from_to,stops,start_date,end_date
0,€481,Scandinavian Airlines,9:20 PM5:50 PM,1:35 PM(02-02)10:30 AM(02-09),22h 15m 10h 40m,AMS to EWR EWR to AMS,ARN ARN,02/01/2024,02/08/2024
1,€490,Scandinavian Airlines,7:00 AM5:50 PM,3:15 PM10:30 AM(02-09),14h 15m 10h 40m,AMS to EWR EWR to AMS,CPH ARN,02/01/2024,02/08/2024
2,€490,Scandinavian Airlines,10:25 AM5:50 PM,3:15 PM10:30 AM(02-09),10h 50m 10h 40m,AMS to EWR EWR to AMS,CPH ARN,02/01/2024,02/08/2024
3,€490,Scandinavian Airlines,2:55 PM5:50 PM,9:30 PM10:30 AM(02-09),12h 35m 10h 40m,AMS to JFK EWR to AMS,CPH ARN,02/01/2024,02/08/2024
4,€490,Scandinavian Airlines,9:20 PM5:35 PM,1:35 PM(02-02)9:45 AM(02-09),22h 15m 10h 10m,AMS to EWR EWR to AMS,ARN CPH,02/01/2024,02/08/2024

We have a better looking dataframe with easier to understand names now. Time to get our hands dirty!

## Cleaning the Dataframe

We can start to clean the columns from left to right. So lets get rid of the currency symbols and any other character in the price column. For that lets have a look.

In [10]:
data["price"].value_counts()

price
€560      504
€555      487
€648      425
€566      420
€587      376
         ...
€4,261      1
€4,159      1
€3,930      1
€1,779      1
€1,956      1
Name: count, Length: 1692, dtype: int64

It seems like we have more than currency symbols as a problem, we also have commas. We can clean our column from those unwanted characters with the following code.

In [11]:
data["price"] = data["price"].str.replace("€","").str.replace(",","")

Let's have a look at our transformed column.

In [12]:
data["price"]

0         481
1         490
2         490
3         490
4         490
         ...
47778    1692
47779    1692
47780    1692
47781    1692
47782    5638
Name: price, Length: 47783, dtype: object

Datatype seems to be incorrect, let's change it to integer since it makes more sense to have a numerical value to be stored as an integer.

In [13]:
data["price"] = data["price"].astype(int)
data["price"]

0         481
1         490
2         490
3         490
4         490
         ...
47778    1692
47779    1692
47780    1692
47781    1692
47782    5638
Name: price, Length: 47783, dtype: int64

Looks like we are done with the price column for now. Lets continue with the remaining columns.

Stop locations does not add too much value to this dataframe, we can use total stops as a numerical value. For example "CDG CDG" represents total of two stops for a roundtrip ticket. So it should return 2 as in number, a non-stop flight should return 0. Let's write the code that does the thing. First we will convert that to a list then we will count the items in that list to get the total stops.

Here we split the stops column on a blank space to convert that string to a list of strings.

In [14]:
data["stops_list"] = data["stops"].str.split()

In [15]:
data.head()

,price,carrier,depart_time,arrive_time,duration,from_to,stops,start_date,end_date,stops_list
0,481,Scandinavian Airlines,9:20 PM5:50 PM,1:35 PM(02-02)10:30 AM(02-09),22h 15m 10h 40m,AMS to EWR EWR to AMS,ARN ARN,02/01/2024,02/08/2024,"[ARN, ARN]"
1,490,Scandinavian Airlines,7:00 AM5:50 PM,3:15 PM10:30 AM(02-09),14h 15m 10h 40m,AMS to EWR EWR to AMS,CPH ARN,02/01/2024,02/08/2024,"[CPH, ARN]"
2,490,Scandinavian Airlines,10:25 AM5:50 PM,3:15 PM10:30 AM(02-09),10h 50m 10h 40m,AMS to EWR EWR to AMS,CPH ARN,02/01/2024,02/08/2024,"[CPH, ARN]"
3,490,Scandinavian Airlines,2:55 PM5:50 PM,9:30 PM10:30 AM(02-09),12h 35m 10h 40m,AMS to JFK EWR to AMS,CPH ARN,02/01/2024,02/08/2024,"[CPH, ARN]"
4,490,Scandinavian Airlines,9:20 PM5:35 PM,1:35 PM(02-02)9:45 AM(02-09),22h 15m 10h 10m,AMS to EWR EWR to AMS,ARN CPH,02/01/2024,02/08/2024,"[ARN, CPH]"

After that we need a function to return the count of the items in a list. Following code should do the trick.

In [16]:
def count_stops(row):
    #This function will be used in apply method. 
    # We use if/else conditions to check if the type of that "cell" is a list or not. 
    # If it is a list it means split method successfully seperated the entire column on a space, if not it still is a Nan. 
    # So we can check if the "cell" contains a list, and if so we can count the items within that list and return it as a stops count.
    
    if type(row["stops_list"]) == list:
        total_stops=len(row["stops_list"])
    else:
        total_stops = 0
    return total_stops

In [17]:
data["total_stops"] = data.apply(count_stops,axis=1)

After applying the function to the column thanks to Pandas built-in apply function, we can have a look at what we have in hand.

In [18]:
data.head()

,price,carrier,depart_time,arrive_time,duration,from_to,stops,start_date,end_date,stops_list,total_stops
0,481,Scandinavian Airlines,9:20 PM5:50 PM,1:35 PM(02-02)10:30 AM(02-09),22h 15m 10h 40m,AMS to EWR EWR to AMS,ARN ARN,02/01/2024,02/08/2024,"[ARN, ARN]",2
1,490,Scandinavian Airlines,7:00 AM5:50 PM,3:15 PM10:30 AM(02-09),14h 15m 10h 40m,AMS to EWR EWR to AMS,CPH ARN,02/01/2024,02/08/2024,"[CPH, ARN]",2
2,490,Scandinavian Airlines,10:25 AM5:50 PM,3:15 PM10:30 AM(02-09),10h 50m 10h 40m,AMS to EWR EWR to AMS,CPH ARN,02/01/2024,02/08/2024,"[CPH, ARN]",2
3,490,Scandinavian Airlines,2:55 PM5:50 PM,9:30 PM10:30 AM(02-09),12h 35m 10h 40m,AMS to JFK EWR to AMS,CPH ARN,02/01/2024,02/08/2024,"[CPH, ARN]",2
4,490,Scandinavian Airlines,9:20 PM5:35 PM,1:35 PM(02-02)9:45 AM(02-09),22h 15m 10h 10m,AMS to EWR EWR to AMS,ARN CPH,02/01/2024,02/08/2024,"[ARN, CPH]",2

That looks more like it! Now let's get rid of "stops" and "stops_list" columns, since they are not needed anymore. 
Also as mentioned before we will not use "arrive_time" column.
We can remove that aswell.

In [19]:
data.drop(["arrive_time","stops","stops_list"],axis=1,inplace=True)

In [20]:
data.head()

,price,carrier,depart_time,duration,from_to,start_date,end_date,total_stops
0,481,Scandinavian Airlines,9:20 PM5:50 PM,22h 15m 10h 40m,AMS to EWR EWR to AMS,02/01/2024,02/08/2024,2
1,490,Scandinavian Airlines,7:00 AM5:50 PM,14h 15m 10h 40m,AMS to EWR EWR to AMS,02/01/2024,02/08/2024,2
2,490,Scandinavian Airlines,10:25 AM5:50 PM,10h 50m 10h 40m,AMS to EWR EWR to AMS,02/01/2024,02/08/2024,2
3,490,Scandinavian Airlines,2:55 PM5:50 PM,12h 35m 10h 40m,AMS to JFK EWR to AMS,02/01/2024,02/08/2024,2
4,490,Scandinavian Airlines,9:20 PM5:35 PM,22h 15m 10h 10m,AMS to EWR EWR to AMS,02/01/2024,02/08/2024,2

As can be seen from the dataframe above, each "cell" contains both outbound flight and inbound flight data, such as depart_time, arrive_time,duration columns. 
We need to seperate them in different columns.

Now let's extract the times and durations from "depart_time" and "duration" columns for outbound and inbound flights. We will use RegEx to do so.

In [21]:
#This will return a dataframe with no column names.
depart = data["depart_time"].str.extract(r"(\d+:\d+ [APM]+)(\d+:\d+ [APM]+)")
depart.head()

          0        1
0   9:20 PM  5:50 PM
1   7:00 AM  5:50 PM
2  10:25 AM  5:50 PM
3   2:55 PM  5:50 PM
4   9:20 PM  5:35 PM

Now lets give columns new names.

In [22]:
depart_column_names = ["dep_time_outbound","dep_time_inbound"]
depart.columns = depart_column_names

Now let's get these dataframes together and get rid of "depart_time" column.

In [23]:
data.drop("depart_time",axis=1,inplace=True)

In [24]:
data = pd.concat([data,depart],axis=1)

Same thing can be done for durations.

In [25]:
durations = data["duration"].str.extract(r"(\d+[h] \d+[m])( \d+[h] \d+[m])")
durations.head()

         0         1
0  22h 15m   10h 40m
1  14h 15m   10h 40m
2  10h 50m   10h 40m
3  12h 35m   10h 40m
4  22h 15m   10h 10m

Renaming the columns.

In [26]:
durations_column_names = ["duration_outbound","duration_inbound"]
durations.columns = durations_column_names

Dropping column and concatenating with the main dataframe.

In [27]:
data.drop("duration",axis=1,inplace=True)

In [28]:
data = pd.concat([data,durations],axis=1)

We have done so many operations. Why dont we have another look at our dataframe?

In [29]:
data.head()

,price,carrier,from_to,start_date,end_date,total_stops,dep_time_outbound,dep_time_inbound,duration_outbound,duration_inbound
0,481,Scandinavian Airlines,AMS to EWR EWR to AMS,02/01/2024,02/08/2024,2,9:20 PM,5:50 PM,22h 15m,10h 40m
1,490,Scandinavian Airlines,AMS to EWR EWR to AMS,02/01/2024,02/08/2024,2,7:00 AM,5:50 PM,14h 15m,10h 40m
2,490,Scandinavian Airlines,AMS to EWR EWR to AMS,02/01/2024,02/08/2024,2,10:25 AM,5:50 PM,10h 50m,10h 40m
3,490,Scandinavian Airlines,AMS to JFK EWR to AMS,02/01/2024,02/08/2024,2,2:55 PM,5:50 PM,12h 35m,10h 40m
4,490,Scandinavian Airlines,AMS to EWR EWR to AMS,02/01/2024,02/08/2024,2,9:20 PM,5:35 PM,22h 15m,10h 10m

There is not much left to do here, we will seperate the values in "from_to" column to "from" and "to" columns.

In [30]:
from_to =data["from_to"].str.extract(r'([A-Z][A-Z]+) to ([A-Z][A-Z]+)')
from_to.head()

     0    1
0  AMS  EWR
1  AMS  EWR
2  AMS  EWR
3  AMS  JFK
4  AMS  EWR

Once again we rename the columns.

In [31]:
from_to_column_names =  ["from","to"]
from_to.columns = from_to_column_names

We concatenate with the main dataframe, and drop the old column.

In [32]:
data = pd.concat([data,from_to],axis=1)

In [33]:
data.drop("from_to",axis=1,inplace=True)

#### Time to check if there is anything needed to be done for carrier column.

In [34]:
data["carrier"].value_counts()

carrier
Multiple Airlines                                8211
Delta                                            5788
KLM                                              4624
Scandinavian Airlines                            2152
Turkish Airlines                                 1923
Aer Lingus                                       1894
British Airways                                  1801
Air France                                       1725
Icelandair                                       1674
American                                         1638
Lufthansa                                        1377
LOT                                              1315
Tap Air Portugal                                 1309
Air Canada                                       1281
Virgin Atlantic                                  1271
United                                           1244
JetBlue                                          1130
SWISS                                             963
ITA                                               960
Austrian                                          948
Air Europa                                        927
Iberia                                            811
Royal Air Maroc                                   390
Brussels Airlines, British Airways                338
Brussels Airlines, British Airways, KLM           308
Brussels Airlines, KLM, British Airways           261
Finnair                                           244
Condor, Lufthansa                                 241
American, British Airways                         233
Air Serbia                                        169
Brussels Airlines, KLM                            162
Brussels Airlines, Lufthansa, KLM                  98
Brussels Airlines, Lufthansa, British Airways      73
Virgin Atlantic, British Airways                   56
United, British Airways                            54
Delta, KLM                                         33
Finnair, British Airways                           32
Virgin Atlantic, KLM                               21
Finnair, British Airways, KLM                      19
Air France, KLM                                    16
Iberia, British Airways                            15
Lufthansa, Air Canada                              12
Delta, Air France                                  12
Austrian, British Airways                           8
KLM, Delta                                          8
United, Lufthansa                                   4
Finnair, KLM                                        2
KLM, Air Canada                                     2
Virgin Atlantic, British Airways, KLM               2
Austrian, KLM                                       2
Austrian, British Airways, KLM                      2
Name: count, dtype: int64

There seems to be a lot of data that is seperated with commas. We could have done something similar to what we have done with stops column, but there is a problem. We also have "Multiple Carriers" as a value, which also represents flights made by multiple carriers same as the values that have been seperated by commas. 
So here is what we are going to do.
- Strip the blank spaces
- Split the string on commas
- Get the first item from that list and assume that the first carrier is the main carrier for that itinerary.

Here is the code for that.

In [35]:
data["carrier"] = data["carrier"].apply(lambda x:x.strip().split(",")[0])

Let's see what we got with the code above.

In [36]:
data["carrier"].value_counts()

carrier
Multiple Airlines        8211
Delta                    5833
KLM                      4634
Scandinavian Airlines    2152
Turkish Airlines         1923
Aer Lingus               1894
American                 1871
British Airways          1801
Air France               1741
Icelandair               1674
Lufthansa                1389
Virgin Atlantic          1350
LOT                      1315
Tap Air Portugal         1309
United                   1302
Air Canada               1281
Brussels Airlines        1240
JetBlue                  1130
SWISS                     963
ITA                       960
Austrian                  960
Air Europa                927
Iberia                    826
Royal Air Maroc           390
Finnair                   297
Condor                    241
Air Serbia                169
Name: count, dtype: int64

That looks more like it. We can have a final look to our dataframe to see if we miss anything.

In [37]:
data.head()

,price,carrier,start_date,end_date,total_stops,dep_time_outbound,dep_time_inbound,duration_outbound,duration_inbound,from,to
0,481,Scandinavian Airlines,02/01/2024,02/08/2024,2,9:20 PM,5:50 PM,22h 15m,10h 40m,AMS,EWR
1,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,7:00 AM,5:50 PM,14h 15m,10h 40m,AMS,EWR
2,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,10:25 AM,5:50 PM,10h 50m,10h 40m,AMS,EWR
3,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,2:55 PM,5:50 PM,12h 35m,10h 40m,AMS,JFK
4,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,9:20 PM,5:35 PM,22h 15m,10h 10m,AMS,EWR

Everything looks good, we now have a dataframe that looks a lot better in comparison to what we had in the beginning. But we are not done yet. Time to do some feature engineering before we wrap this up and load our data to a database or whereever we would like to store it.

# Feature Engineering

Dataframe we have transformed above was messy and was not readable at all. But with some extra information that can be extracted from the dataframe we can add a lot more meaning to it. Here is a short explanation of what we will do.
- Flight prices tend to change from day of week to day of week. We will extract them to use for further analysis.
- Flight durations can also be used as a metric, but with the format that we have above it may not be useful to use in ML algorithms. We need something numeric, best way that comes to mind is to convert them to minutes.
- Flight departure times are also in AM/PM format, which means something. But we can add more value to them by clustering them in day times, such as "Morning","Afternoon" etc.
- It is almost known by everybody that flight prices increase on holiday seasons. So day of year, month, day of month etc. are valuable informations. We will excract them aswell.
- Getting flight days and times together could also prove useful in the future.

Let's start by excracting day of week from start_date column. Keep in mind that this function will return values ranging between (0-6), 0:Monday, 6:Sunday.

In [38]:
data["day_of_week"] = pd.to_datetime(data["start_date"]).dt.day_of_week

Let's see what we got.

In [39]:
data.head()

,price,carrier,start_date,end_date,total_stops,dep_time_outbound,dep_time_inbound,duration_outbound,duration_inbound,from,to,day_of_week
0,481,Scandinavian Airlines,02/01/2024,02/08/2024,2,9:20 PM,5:50 PM,22h 15m,10h 40m,AMS,EWR,3
1,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,7:00 AM,5:50 PM,14h 15m,10h 40m,AMS,EWR,3
2,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,10:25 AM,5:50 PM,10h 50m,10h 40m,AMS,EWR,3
3,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,2:55 PM,5:50 PM,12h 35m,10h 40m,AMS,JFK,3
4,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,9:20 PM,5:35 PM,22h 15m,10h 10m,AMS,EWR,3

We can try to store start_date and flight times together in a datetime column.

In [40]:
start_date_time = data["start_date"] +" "+ data["dep_time_outbound"]
start_date_time = pd.to_datetime(pd.to_datetime(start_date_time))

/var/folders/wb/6760lkds57qdv6xw0h99q8dm0000gn/T/ipykernel_8084/2243832005.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  start_date_time = pd.to_datetime(pd.to_datetime(start_date_time))

In [41]:
start_date_time.head()

0   2024-02-01 21:20:00
1   2024-02-01 07:00:00
2   2024-02-01 10:25:00
3   2024-02-01 14:55:00
4   2024-02-01 21:20:00
dtype: datetime64[ns]

This does not really seem to useful (for now at least). So there is no reason to add this to dataframe.

Now we can convert our flight durations to minutes with the help of Pandas built-in timedelta function. We can use following function to convert durations to minutes.

In [42]:
def to_minutes(time_string):
  time_delta = pd.to_timedelta(time_string)
  minutes = time_delta.total_seconds() / 60
  return minutes

Time to apply our new function to our columns to create new columns.

In [43]:
data["outbound_duration_minutes"] = data["duration_outbound"].apply(to_minutes)
data["inbound_duration_minutes"] = data["duration_inbound"].apply(to_minutes)

Output looks like this.

In [44]:
data.head()

,price,carrier,start_date,end_date,total_stops,dep_time_outbound,dep_time_inbound,duration_outbound,duration_inbound,from,to,day_of_week,outbound_duration_minutes,inbound_duration_minutes
0,481,Scandinavian Airlines,02/01/2024,02/08/2024,2,9:20 PM,5:50 PM,22h 15m,10h 40m,AMS,EWR,3,1335.0,640.0
1,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,7:00 AM,5:50 PM,14h 15m,10h 40m,AMS,EWR,3,855.0,640.0
2,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,10:25 AM,5:50 PM,10h 50m,10h 40m,AMS,EWR,3,650.0,640.0
3,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,2:55 PM,5:50 PM,12h 35m,10h 40m,AMS,JFK,3,755.0,640.0
4,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,9:20 PM,5:35 PM,22h 15m,10h 10m,AMS,EWR,3,1335.0,610.0

Now lets get "day-time" information from our "dep_time" columns. We need to create a function for that. So here is the function to do that.

In [45]:
def to_time_of_day(time_string):
  hour = int(time_string.split(":")[0])  #Extracting hour from time string
  am_pm = time_string.split("AM")[-1]  #Extract AM/PM indicator

  if am_pm == "PM" and hour != 12:  #Adjusting for hours that represent PM.
    hour += 12

  #Classifying hours to time of days.
  if 5 <= hour < 12:
    return "Morning"
  elif 12 <= hour < 17:
    return "Afternoon"
  elif 17 <= hour < 20:
    return "Evening"
  elif 20 <= hour < 24:
    return "Night"
  else:
    return "Early Morning"

In [46]:
data["time_of_day_outbound"] = data["dep_time_outbound"].apply(to_time_of_day)
data["time_of_day_inbound"] = data["dep_time_inbound"].apply(to_time_of_day)

Here is the output.

In [47]:
data.head()

,price,carrier,start_date,end_date,total_stops,dep_time_outbound,dep_time_inbound,duration_outbound,duration_inbound,from,to,day_of_week,outbound_duration_minutes,inbound_duration_minutes,time_of_day_outbound,time_of_day_inbound
0,481,Scandinavian Airlines,02/01/2024,02/08/2024,2,9:20 PM,5:50 PM,22h 15m,10h 40m,AMS,EWR,3,1335.0,640.0,Morning,Morning
1,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,7:00 AM,5:50 PM,14h 15m,10h 40m,AMS,EWR,3,855.0,640.0,Morning,Morning
2,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,10:25 AM,5:50 PM,10h 50m,10h 40m,AMS,EWR,3,650.0,640.0,Morning,Morning
3,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,2:55 PM,5:50 PM,12h 35m,10h 40m,AMS,JFK,3,755.0,640.0,Early Morning,Morning
4,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,9:20 PM,5:35 PM,22h 15m,10h 10m,AMS,EWR,3,1335.0,610.0,Morning,Morning

Now only thing left to do is to exctract date related informations from our start_date column. It is pretty simple, following code will do the trick.

In [48]:
data["day_of_year"] = pd.to_datetime(data["start_date"]).dt.day_of_year
data["month_number"] = pd.to_datetime(data["start_date"]).dt.month
data["day_of_month"] = pd.to_datetime(data["start_date"]).dt.day
data["month_number_end"] = pd.to_datetime(data["end_date"]).dt.month
data["day_of_month_end"] = pd.to_datetime(data["end_date"]).dt.day

Let's have a final look to our dataframe before saying that we are done.

In [49]:
data.head()

,price,carrier,start_date,end_date,total_stops,dep_time_outbound,dep_time_inbound,duration_outbound,duration_inbound,from,...,day_of_week,outbound_duration_minutes,inbound_duration_minutes,time_of_day_outbound,time_of_day_inbound,day_of_year,month_number,day_of_month,month_number_end,day_of_month_end
0,481,Scandinavian Airlines,02/01/2024,02/08/2024,2,9:20 PM,5:50 PM,22h 15m,10h 40m,AMS,...,3,1335.0,640.0,Morning,Morning,32,2,1,2,8
1,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,7:00 AM,5:50 PM,14h 15m,10h 40m,AMS,...,3,855.0,640.0,Morning,Morning,32,2,1,2,8
2,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,10:25 AM,5:50 PM,10h 50m,10h 40m,AMS,...,3,650.0,640.0,Morning,Morning,32,2,1,2,8
3,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,2:55 PM,5:50 PM,12h 35m,10h 40m,AMS,...,3,755.0,640.0,Early Morning,Morning,32,2,1,2,8
4,490,Scandinavian Airlines,02/01/2024,02/08/2024,2,9:20 PM,5:35 PM,22h 15m,10h 10m,AMS,...,3,1335.0,610.0,Morning,Morning,32,2,1,2,8

Final data frame that we have can be loaded to anywhere we want. But for now I will store it in a csv file.

In [50]:
data.to_csv("data.csv",index=False)

This file now can and will be used for further data analysis and machine learning. We will visualize and try to understand how flight prices change overtime, and what causes them to change etc. But for now we are done with this project.

## Thank you for reading!